.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
}

.bg-light {
  background-color: #f8f9fa;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

li {
  margin-bottom: 20px;
}

h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  color: #666;
  font-size: 14px;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.sidemenu {
  position: fixed;
  height: 100vh;
}

.menu {
  position: relative;
}
.menusidebar {
  height: 100vh;
  background-color: #f6c1c1 !important;
  padding: 20px;
}
.content-menu {
  margin: 370px;
}
.text-red {
  color: #ef4444;
}
.bg-red {
  background-color: #ef4444;
}

.btn-red {
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ef4444;
  color: white;
}
.nav-link {
  color: #fff !important;
}
.navbar-brand {
  color: #fff !important;
}
a {
  color: #ef4444 !important;
  text-decoration: none !important;
  font-size: 20px;
}
.menu-list-items {
  border-bottom: 1px solid #fff !important;
  padding-bottom: 15px;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-qty {
  border: 2px solid #ef4444;
  border-radius: 5%;
  display: flex;
}
